.result-success {
    color: green;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.result-failure {
    color: red;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.result-highlight {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #ff8c00; /* couleur orange pour mettre en évidence */
}
